 .u-section-1 {
  min-height: 717px;
}

.u-section-1 .u-image-1 {
  width: 884px;
  left: 0;
  right: auto;
}

.u-section-1 .u-layout-wrap-1 {
  width: 1022px;
  margin: 113px calc(((100% - 1140px) / 2)) 60px auto;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 491px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  font-size: 2.25rem;
  margin: 41px 1px 0;
}

.u-section-1 .u-text-2 {
  line-height: 1.8;
  font-style: italic;
  margin: 40px 2px 0 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  letter-spacing: 3px;
  font-size: 1rem;
  border-style: none;
  text-transform: uppercase;
  font-weight: 400;
  margin: 88px auto 0 0;
  padding: 10px 52px 10px 51px;
}

.u-section-1 .u-image-2 {
  background-image: url("images/demon-slayer-anime-1.jpg");
  background-position: 50% 50%;
  min-height: 491px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 678px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 940px;
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 452px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1 .u-image-2 {
    min-height: 452px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 326px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-image-2 {
    background-position: 66.14% 50%;
    min-height: 346px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-image-1 {
    width: auto;
    left: auto;
    bottom: auto;
    right: auto;
    top: auto;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 343px;
  }

  .u-section-1 .u-image-2 {
    min-height: 468px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 446px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-image-2 {
    min-height: 309px;
  }
}